<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In-Memory File Store</title>
</head>

<body>
    <div>
        <h2 style="margin:10px; padding:5px;">In-Memory File Store</h2>
        <div style="margin-top:30px; margin-bottom: 30px;">
            <span id="alertSpan" hidden="true"
                style="margin:10px; padding: 10px 30px 10px; border-radius: 25px; background-color: lightcoral;"></span>
        </div>
        <div>
            <label class="file-upload-label">
                Upload File:
                <input type="file" id="uploadFile" size="60">
            </label>
            <button type="button" class="button" id="uploadBtn" onclick="upload()">Upload</button>
        </div>
    </div>

    <div>
        <ul id="ulist">
        </ul>
    </div>

    <script>
        function upload() {
            const uploadBtn = document.getElementById("uploadBtn");
            const uploadFileInput = document.getElementById("uploadFile");
            if (uploadFileInput.files.length === 0) {
                window.alert("Please select a file to upload");
                return;
            }

            const f = uploadFileInput.files[0];
            uploadFileInput.disabled = true;
            uploadBtn.disabled = true;

            fetch(`/file?name=${encodeURIComponent(f.name)}`, {
                method: "POST",
                body: f,
            })
                .finally(() => {
                    getList();
                    uploadFileInput.value = [];
                    uploadFileInput.disabled = false;
                    uploadBtn.disabled = false;
                })
                .catch((error) => {
                    console.error("Error:", error);
                    window.alert("Failed to upload file");
                });
        }

        async function getList() {
            const ulist = document.getElementById("ulist");
            ulist.innerHTML = "";
            fetch("/file/list", {
                method: "GET",
            })
                .then((response) => response.json())
                .then((result) => {
                    console.log(result);
                    if (result.error) {
                        window.alert(result.msg);
                        return;
                    }

                    for (let p of result.data) {
                        console.log(p)
                        let li = document.createElement("li");
                        let div = document.createElement("div");
                        li.appendChild(div);

                        let innerLink = document.createElement("a");
                        innerLink.href = `/file?name=${encodeURIComponent(p)}`;
                        innerLink.textContent = p;
                        div.appendChild(innerLink);

                        let deleteBtn = document.createElement("button");
                        deleteBtn.style.margin = "5px";
                        deleteBtn.classList.add("button")
                        deleteBtn.onclick = () => {
                            fetch(`/file?name=${encodeURIComponent(p)}`, {
                                method: "DELETE",
                            }).finally(() => {
                                getList();
                            }).catch((error) => {
                                console.error("Error:", error);
                                window.alert("Failed to delete file");
                            });
                        }
                        deleteBtn.textContent = "Delete";
                        div.appendChild(deleteBtn);

                        div.setAttribute("target", "_blank");
                        div.style.wordBreak = "break-all";
                        ulist.appendChild(li);
                    }

                    alert(null);
                })
                .catch((error) => {
                    console.error("Error:", error);
                    alert(`Failed to fetch file list ${error}`);
                });
        }

        function getListTask() {
            getList();
            setTimeout(() => {
                getListTask()
            }, 10000);
        }

        function alert(msg) {
            const span = document.getElementById("alertSpan");
            if (msg) {
                span.hidden = false;
                span.textContent = msg;
            } else {
                span.hidden = true;
            }
        }

        getListTask();
    </script>

    <style>
        .button {
            padding: 10px;
            transition-duration: 0.4s;
        }

        .button:hover {
            background-color: #555555;
            color: white;
        }

        .file-upload-label {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
    </style>
</body>

</html>